<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.yg.dao.VideoContentMapper">
    <resultMap id="BaseResultMap" type="io.yg.entity.VideoContent">
        <id column="vc_id" property="vcId" jdbcType="VARCHAR"/>
        <result column="vc_author" property="vcAuthor" jdbcType="VARCHAR"/>
        <result column="vc_detail" property="vcDetail" jdbcType="VARCHAR"/>
        <result column="vc_shareurl" property="vcShareurl" jdbcType="VARCHAR"/>
        <result column="vc_from" property="vcFrom" jdbcType="VARCHAR"/>
        <result column="vc_type" property="vcType" jdbcType="VARCHAR"/>
        <result column="vc_createtime" property="vcCreatetime" jdbcType="TIMESTAMP"/>
        <result column="reserved_field01" property="reservedField01" jdbcType="VARCHAR"/>
        <result column="reserved_field02" property="reservedField02" jdbcType="VARCHAR"/>
        <result column="reserved_field03" property="reservedField03" jdbcType="VARCHAR"/>
        <result column="reserved_field04" property="reservedField04" jdbcType="VARCHAR"/>
        <result column="reserved_field05" property="reservedField05" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    vc_id, vc_author, vc_detail, vc_shareurl, vc_from, vc_type, vc_createtime, reserved_field01, 
    reserved_field02, reserved_field03, reserved_field04, reserved_field05
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from video_content
        where vc_id = #{vcId,jdbcType=VARCHAR}
    </select>

    <select id="showAllVideo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from video_content
        order by
        vc_createtime
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from video_content
    where vc_id = #{vcId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="io.yg.entity.VideoContent">
    insert into video_content (vc_id, vc_author, vc_detail, 
      vc_shareurl, vc_from, vc_type, 
      vc_createtime, reserved_field01, reserved_field02, 
      reserved_field03, reserved_field04, reserved_field05
      )
    values (#{vcId,jdbcType=VARCHAR}, #{vcAuthor,jdbcType=VARCHAR}, #{vcDetail,jdbcType=VARCHAR}, 
      #{vcShareurl,jdbcType=VARCHAR}, #{vcFrom,jdbcType=VARCHAR}, #{vcType,jdbcType=VARCHAR}, 
      #{vcCreatetime,jdbcType=TIMESTAMP}, #{reservedField01,jdbcType=VARCHAR}, #{reservedField02,jdbcType=VARCHAR}, 
      #{reservedField03,jdbcType=VARCHAR}, #{reservedField04,jdbcType=VARCHAR}, #{reservedField05,jdbcType=VARCHAR}
      )
  </insert>


    <insert id="insertBatch" parameterType="java.util.List">


        insert into video_content (vc_id, vc_author, vc_detail,
        vc_shareurl, vc_from, vc_type,
        vc_createtime, reserved_field01, reserved_field02,
        reserved_field03, reserved_field04, reserved_field05
        )
        <foreach collection="videoContentList" item="item" open="VALUES" close=";" separator=",">
            (#{item.vcId,jdbcType=VARCHAR}, #{item.vcAuthor,jdbcType=VARCHAR}, #{item.vcDetail,jdbcType=VARCHAR},
            #{item.vcShareurl,jdbcType=VARCHAR}, #{item.vcFrom,jdbcType=VARCHAR}, #{item.vcType,jdbcType=VARCHAR},
            #{item.vcCreatetime,jdbcType=TIMESTAMP}, #{item.reservedField01,jdbcType=VARCHAR},
            #{item.reservedField02,jdbcType=VARCHAR},
            #{item.reservedField03,jdbcType=VARCHAR}, #{item.reservedField04,jdbcType=VARCHAR},
            #{item.reservedField05,jdbcType=VARCHAR}
            )
        </foreach>


    </insert>


    <insert id="insertSelective" parameterType="io.yg.entity.VideoContent">
        insert into video_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vcId != null">
                vc_id,
            </if>
            <if test="vcAuthor != null">
                vc_author,
            </if>
            <if test="vcDetail != null">
                vc_detail,
            </if>
            <if test="vcShareurl != null">
                vc_shareurl,
            </if>
            <if test="vcFrom != null">
                vc_from,
            </if>
            <if test="vcType != null">
                vc_type,
            </if>
            <if test="vcCreatetime != null">
                vc_createtime,
            </if>
            <if test="reservedField01 != null">
                reserved_field01,
            </if>
            <if test="reservedField02 != null">
                reserved_field02,
            </if>
            <if test="reservedField03 != null">
                reserved_field03,
            </if>
            <if test="reservedField04 != null">
                reserved_field04,
            </if>
            <if test="reservedField05 != null">
                reserved_field05,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vcId != null">
                #{vcId,jdbcType=VARCHAR},
            </if>
            <if test="vcAuthor != null">
                #{vcAuthor,jdbcType=VARCHAR},
            </if>
            <if test="vcDetail != null">
                #{vcDetail,jdbcType=VARCHAR},
            </if>
            <if test="vcShareurl != null">
                #{vcShareurl,jdbcType=VARCHAR},
            </if>
            <if test="vcFrom != null">
                #{vcFrom,jdbcType=VARCHAR},
            </if>
            <if test="vcType != null">
                #{vcType,jdbcType=VARCHAR},
            </if>
            <if test="vcCreatetime != null">
                #{vcCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="reservedField01 != null">
                #{reservedField01,jdbcType=VARCHAR},
            </if>
            <if test="reservedField02 != null">
                #{reservedField02,jdbcType=VARCHAR},
            </if>
            <if test="reservedField03 != null">
                #{reservedField03,jdbcType=VARCHAR},
            </if>
            <if test="reservedField04 != null">
                #{reservedField04,jdbcType=VARCHAR},
            </if>
            <if test="reservedField05 != null">
                #{reservedField05,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="io.yg.entity.VideoContent">
        update video_content
        <set>
            <if test="vcAuthor != null">
                vc_author = #{vcAuthor,jdbcType=VARCHAR},
            </if>
            <if test="vcDetail != null">
                vc_detail = #{vcDetail,jdbcType=VARCHAR},
            </if>
            <if test="vcShareurl != null">
                vc_shareurl = #{vcShareurl,jdbcType=VARCHAR},
            </if>
            <if test="vcFrom != null">
                vc_from = #{vcFrom,jdbcType=VARCHAR},
            </if>
            <if test="vcType != null">
                vc_type = #{vcType,jdbcType=VARCHAR},
            </if>
            <if test="vcCreatetime != null">
                vc_createtime = #{vcCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="reservedField01 != null">
                reserved_field01 = #{reservedField01,jdbcType=VARCHAR},
            </if>
            <if test="reservedField02 != null">
                reserved_field02 = #{reservedField02,jdbcType=VARCHAR},
            </if>
            <if test="reservedField03 != null">
                reserved_field03 = #{reservedField03,jdbcType=VARCHAR},
            </if>
            <if test="reservedField04 != null">
                reserved_field04 = #{reservedField04,jdbcType=VARCHAR},
            </if>
            <if test="reservedField05 != null">
                reserved_field05 = #{reservedField05,jdbcType=VARCHAR},
            </if>
        </set>
        where vc_id = #{vcId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="io.yg.entity.VideoContent">
    update video_content
    set vc_author = #{vcAuthor,jdbcType=VARCHAR},
      vc_detail = #{vcDetail,jdbcType=VARCHAR},
      vc_shareurl = #{vcShareurl,jdbcType=VARCHAR},
      vc_from = #{vcFrom,jdbcType=VARCHAR},
      vc_type = #{vcType,jdbcType=VARCHAR},
      vc_createtime = #{vcCreatetime,jdbcType=TIMESTAMP},
      reserved_field01 = #{reservedField01,jdbcType=VARCHAR},
      reserved_field02 = #{reservedField02,jdbcType=VARCHAR},
      reserved_field03 = #{reservedField03,jdbcType=VARCHAR},
      reserved_field04 = #{reservedField04,jdbcType=VARCHAR},
      reserved_field05 = #{reservedField05,jdbcType=VARCHAR}
    where vc_id = #{vcId,jdbcType=VARCHAR}
  </update>
</mapper>