option = {
"calculable": true,
"legend": {"data": ["18-10-23"]},
"series": [{"data": [1, 1, 3, 2], "name": "18-10-23", "type": "line"}],
"title": {"subtext": "来自GJF", "text": "日活信息显示"},
"toolbox": {
"feature": {
"dataView": {"readOnly": false, "show": true},
"magicType": {"show": true, "type": ["line", "bar"]},
"mark": {"show": true},
"restore": {"show": true},
"saveAsImage": {"show": true}
}, "show": true
},
"tooltip": {"trigger": "axis"},
"xAxis": [{
"boundaryGap": false,
"data": ["115.55.38.65", "123.151.77.81", "125.46.17.59", "61.148.243.147"],
"type": "category"
}],
"yAxis": [{"axisLabel": {"formatter": "{value} 人"}, "type": "value"}]
};